*{
    text-align: center;
}
table{
    margin: auto;
    height: 380px;
    width: 400px;
    color: black;
    border-radius: 4px;
    background-color: teal;
    padding: 10px;
}
#result{
    font-size: 20px;
    text-align: right;
    width: 94%;
    height: 50px;

}
#button{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    width: 70px;
    background-color: antiquewhite;
}
#operation{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    width: 70px;
    color: white;
    background-color: black;
}